@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

h2 {
    color: #f9faf8;
    font-size: 24px;
}

.links {
    display: flex
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}