@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 42px;
}

.logo {
    display: flex;
    width: 500px;
    justify-content: flex-start;
}

h2 {
    color: #f9faf8;
    font-size: 24px;
}

.links {
    display: flex;
    width: 500px;
    justify-content:flex-end;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

.hero   {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    gap: 42px;
    padding: 64px 90px;
}

.left-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.right-hero {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 500px;
}

#right-hero-image {
    object-fit: cover;
    width: 500px;
    height: 300px;
    border-radius: 20px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

h5 {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
    color: #E5E7EB;
    border: none;
    border-radius: 12px;
    height: 48px;
    width: 200px;
}

img {
    object-fit: cover;
    height: 250px;
    width: 250px;
    border-radius: 15px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    display: flex;
    gap: 10px;
}

.dog    {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}